<div class="container">
    <img *ngIf="item" [src]="item.image" />

    <div *ngIf="item" class="details">

        <div class="header">
            <span class="name">
                {{item.name}}
            </span>
        </div>
        <div class="price">
            <span> 
                {{item.price | currency}}
            </span>
        </div>
        <div class="type">
            <span>
                Type: {{item.type}}
            </span>
        </div>
        <div class="material">
            <span>
                Material: {{item.material}}
            </span>
        </div>
        <div class="color">
            <span>
                Color: {{item.color}}
            </span>
        </div>
        <div class="durability">
            <span>
                Durability: {{item.durability}}/10
            </span>
        </div>
        <div class="description">
            <span>
                {{item.description}}
            </span>
        </div>

        <div *ngIf="isOwnOffer">
            <button class="edit" (click)="editBtn()">
                Edit
            </button>
            <button class="delete"(click)="deleteBtn()">
                Delete
            </button>
        </div>

        <button *ngIf="!isOwnOffer" (click)="addClick()">Add To Cart</button>
    </div>

</div>
