h1{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    font-size: 150px;
    font-weight: 400;

}

h2{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    font-size: 80px;
    font-weight: 400;
}

