<header>

    <div class="container">

        <a routerLink="/" class="logo">SamuraiShop</a> 

        <nav>
            <ul>
                <li>
                    <a routerLink="/catalog">Catalog</a>
                </li>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Steven</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/create">Create Offer</a>
                        <a routerLink="/orders">My Orders</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart">Shopping Cart<span>3</span></a>
                </li>
            </ul>
        </nav>
    </div>

</header>
