<div class="content">

    <div class="parent">
        <img class="samurai" src="/assets/images/samurai.png">
        <img class="door" src="/assets/images/door.png">;

    </div>

    <h1>Welcome to our Samurai Shop</h1>

    <div class="description">

        <p>
            Here the ancient art of the katana meets modern craftsmanship. 
            Browse through the collection of others or just sell yours to another.
            Whether you seek a functional sword for practice or a decorative piece to adorn your home. 
        </p>
    </div>
</div>