.container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login > a{
    color: rgb(0, 109, 233);
}